{% if view == "services" %}
	{% for value in list %}	
	<a href="{{value.link}}" class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-responsive" alt="">
		</picture>
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
	</a>
	{% endfor %}
{% endif %}
{% if view == "team-full" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<source media="(max-width: 575px)" srcset="{{value.img_xs}}">
			<img src="{{value.img}}" class="img-responsive" alt="">
		</picture>
		<div>
			<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
			<p class="{{prefix}}position  {{mod}}">{{value.position}}</p>
			<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>
			<div class="{{prefix}}btn  {{mod}}">
				{% include "../button/btn.twig" with {
					view:"link",
					prefix:"btn__", 
					mod:"is--icon", 
					icon:'icon-next', 
					attr: '',
					link:value.link, 
					name:"Подробнее" 
				} %}
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if view == "team-slider" %}
	{% for value in list %}
	{# <div>	 #}
		<div class="{{prefix}}item  {{mod}}">
			<picture class="{{prefix}}preview  {{mod}}">
				<source media="(max-width: 575px)" srcset="{{value.img_xs}}">
				<img src="{{value.img}}" class="img-responsive" alt="">
			</picture>
			<div class="{{prefix}}group  {{mod}}">
				{# <p class="{{prefix}}heading  {{mod}}">{{value.heading}}</p> #}
				<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>
				{# <div class="{{prefix}}note  {{mod}}  visible--md">{{value.note2}}</div> #}
				<div>				
					<p class="{{prefix}}heading  {{mod}}-name">{{value.name}}</p>
					<p class="{{prefix}}position  {{mod}}">{{value.position}}</p>
					<picture class="{{prefix}}preview  {{mod}}-sign">
						<img src="{{value.sign}}" class="img-responsive" alt="">
					</picture>
					{# <p class="{{prefix}}btn  {{mod}}">
						{% include "../button/btn.twig" with {
							view:"link",
							prefix:"btn__", 
							mod:"is--icon", 
							icon:'icon-next', 
							attr: '',
							link:value.link, 
							name:"Наша команда" 
						} %}
					</p> #}
				</div>
			</div>
		</div>
	{# </div> #}
	{% endfor %}
{% endif %}
{% if view == "team-card" %}
	{% for value in list %}	
	<a href="{{value.link}}" class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-responsive" alt="">
		</picture>
		<div class="{{prefix}}group  {{mod}}">
			<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
			{% if value.position %}
			<p class="{{prefix}}position  {{mod}}">{{value.position}}</p>
			{% endif %}
		</div>
	</a>
	{% endfor %}
{% endif %}
{% if view == "adv" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-responsive" alt="">
		</picture>
		<div>			
			<p class="{{prefix}}heading  {{mod}}">{{value.heading}}</p>
			<p class="{{prefix}}note  {{mod}}">{{value.note}}</p>
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if view == "works" %}
	<div class="{{prefix}}group  panel-group  {{mod}}" id="{{card_id}}">
		{% for v in list %}
			{% for value in v.list %}
			<div class="panel">
				<div class="{{prefix}}item    {{mod}}">
					<a class="{{prefix}}heading  {{mod}}" data-toggle="collapse" data-parent="#{{card_id}}" href="#{{card_id}}{{value.id}}" aria-expanded="false">
						<span>{{value.name}}</span>
						{% include "../svg-sprite/svg.twig" with {icon:value.icon} %}
					</a>
					<div id="{{card_id}}{{value.id}}" class="collapse">
						<div class="{{prefix}}note  {{mod}}">
							<div>								
								{% include "../tabs/tpl.twig" with {
									view:value.tabs_view, 
									prefix:value.tabs_prefix, 
									mod:value.tabs_mod,
									group:value.tabs_group,
									count:value.tabs_count,
									list: value.tabs_list,				
								} %}
							</div>
							<div class="{{prefix}}preview  {{mod}}">
								{% include "../svg-sprite/svg.twig" with {icon:value.icon} %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endfor %}
	</div>		
{% endif %}

{% if view == "contacts" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
		<a href="tel:{{value.phone}}" class="{{prefix}}value  {{mod}}">{{value.phone}}</a>		
	</div>
	{% endfor %}
{% endif %}