{% if view == "header" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}">
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
            </div>
			<div class="{{content_prefix}}inner  is--page-index">
				{% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:heading_mod,
					attr:heading_attr, 
					level:heading_level, 
					heading:heading
				} %}
				<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
					{% for b in banner %}
						<div data-slick-banner {% if b.aos %}data-aos="{{b.aos}}" {% if b.delay %}data-aos-delay="{{b.delay}}"{% endif %}{% endif %}>	
							{% for slide in b.list %}
								<picture>
									<img src="{{slide.img}}" class="img-responsive" alt="">
								</picture>		
							{% endfor %}
						</div>
						
					{% endfor %}				
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% if view == "about" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}"></div>
			<div class="{{content_prefix}}inner  is--page-index">
				<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
					<div>
						<div class="text__block  {{content_mod}}  hidden--md">
							{{note}}
						</div>
						<div class="text__block  {{content_mod}}  visible--md">
							{{note2}}
						</div>
						{% include "../common/button/btn.twig" with {
							prefix:"btn__", 
							view:btn_view,
							mod:btn_mod,  
							icon:btn_icon,
							link:btn_link,
							name:btn_name,
						} %}
					</div>
					<picture class="{{content_prefix}}img  {{content_mod}}">
						<img src="{{img}}" class="img-responsive" alt="">
					</picture>
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% if view == "team" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}"></div>
			<div class="{{content_prefix}}inner  is--page-index">
				<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-team>
					{% include "../common/card/card.twig" with {
						view: card_view,
						prefix:"card__", 
						mod:  card_mod, 
						list: card_list
					} %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% if view == "contacts" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../common/page-header/elem.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				attr:heading_attr, 
				level:heading_level, 
				heading:heading
			} %}
			{% include "../common/page-header/elem.twig" with {
				prefix:"page-header__", 
				mod:note_mod,
				level:note_level, 
				heading:note
			} %}
		</div>
	</section>
{% endif %}