{% if view == "page" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}  is--page-line-right">
            </div>
			<div class="{{content_prefix}}inner  is--page-index">
				{% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:heading_mod,
					attr:heading_attr, 
					level:heading_level, 
					heading:heading
				} %}
				<div class="text__block  {{content_mod}}">
					{{note}}
				</div>
				{# <div class="text__block  {{content_mod}}  visible--md">
					{{note2}}
				</div> #}
				<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
					{% include "../common/card/card.twig" with {
						view: card_view,
						prefix:"card__", 
						mod:  card_mod, 
						list: card_list
					} %}
				</div>
				{# {% include "../common/tabs/tpl.twig" with {
					view:tabs_view, 
					prefix:tabs_prefix, 
					mod:tabs_mod,
					group:tabs_group,
					list: tabs_list,				
				} %} #}
			</div>
		</div>
	</section>
{% endif %}
{% if view == "card" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}">
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>				
            </div>
			<div class="{{content_prefix}}inner  is--page-index">
				<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
					<h1 class="{{card_prefix}}heading  {{card_mod}}">{{heading}}</h1>
					<div>
						{% if note2 %}
						<div class="{{card_prefix}}note  {{card_mod}}  visible--md  is--xs">{{note2}}</div>
						{% endif %}
						<picture class="{{card_prefix}}preview  {{card_mod}}" data-aos="fade-services-card" data-aos-once="true" >
							<img src="{{img}}" class="img-responsive" alt="{{heading}}">
							<div>
								<img src="{{img}}" class="img-responsive" alt="{{heading}}">
							</div>
							<div>
								<img src="{{img}}" class="img-responsive" alt="{{heading}}">
							</div>
							<div>
								<img src="{{img}}" class="img-responsive" alt="{{heading}}">
							</div>
						</picture>
					</div>
					<div>
						<div class="{{card_prefix}}note  {{card_mod}}  hidden--md">{{note}}</div>
						{% if note3 %}
						<div class="{{card_prefix}}note  {{card_mod}}  visible--md">{{note3}}</div>
						{% endif %}
						{% if desc %}
							{% for d in desc %}
								<div class="{{card_prefix}}desc  panel  text__block">
									<h6>{{d.heading}}</h6>
									{% if d.ul %}
										<div class="row">
											{% for ul in d.ul %}
											<div class="cols">
												<ul>
													{% for li in ul.li %}
													<li>{{li.name}}</li>
													{% endfor %}
												</ul>
											</div>
											{% endfor %}
										</div>
									{% endif %}
								</div>	
							{% endfor %}
						{% endif %}	
						{# {% if desc %}
							{% for d in desc %}
								<div class="{{card_prefix}}desc  panel  text__block">
									<h6>
										<a data-toggle="collapse" href="#{{d.id}}" aria-expanded="false">{{d.heading}}</a>
									</h6>
									{% if d.ul %}
									<div id="{{d.id}}" class="collapse">
										<div class="row">
											{% for ul in d.ul %}
											<div class="cols">
												<ul>
													{% for li in ul.li %}
													<li>{{li.name}}</li>
													{% endfor %}
												</ul>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>	
							{% endfor %}
						{% endif %}	 #}
					</div>
				</div>
				<div>
					<h2 class="page-header__heading  {{team_heading_mod}}">Команда</h2>
					{# <h2 class="page-header__heading  {{team_heading_mod}}">{{team_heading}}</h2>
					<p class="page-header__heading  {{team_note_mod}}">{{team_note}}</p> #}
					<div class="{{content_prefix}}grid  grid__row  {{content_mod}}-team">
						{% include "../common/card/card.twig" with {
							view: team_view,
							prefix:"card__", 
							mod:  team_mod, 
							list: team_list
						} %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}