{% if view == "header" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}">
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
            </div>
			<div class="{{content_prefix}}inner  is--page-index">
				{% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:heading_mod,
					attr:heading_attr, 
					level:heading_level, 
					heading:heading
				} %}
				{% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:note_mod,
					level:note_level, 
					heading:note
				} %}
			</div>
		</div>
	</section>
{% endif %}
{% if view == "head" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  is--page-line-right  {{content_mod}}"></div>
			<div class="{{content_prefix}}inner  is--page-index">
				{# {% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:heading_mod,
					attr:heading_attr, 
					level:heading_level, 
					heading:heading
				} %} #}
				{# {% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:note_mod,
					level:note_level, 
					heading:note
				} %} #}
				<div class="{{content_prefix}}slick  {{content_mod}}">				
					{% include "../common/card/card.twig" with {
						view: card_view,
						prefix:"card__", 
						mod:  card_mod, 
						list: card_list
					} %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% if view == "list" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  is--page-line-right  {{content_mod}}"></div>
			<div class="{{content_prefix}}inner  is--page-index">
				{% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:heading_mod,
					attr:heading_attr, 
					level:heading_level, 
					heading:heading
				} %}
				{% for value in card_list %}
					<div class="{{content_prefix}}section  panel  {{card_mod}}">
						<h4>
							<a data-toggle="collapse" href="#{{value.id}}" aria-expanded="false">{{value.name}}</a>
						</h4>
						<div id="{{value.id}}" class="collapse">
							<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
								{% include "../common/card/card.twig" with {
									view: card_view,
									prefix:"card__", 
									mod:  card_mod, 
									list: value.list
								} %}
							</div>
						</div>
					</div>
				{% endfor %}
				{# <div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
					{% include "../common/card/card.twig" with {
						view: card_view,
						prefix:"card__", 
						mod:  card_mod, 
						list: card_list
					} %}
				</div> #}
			</div>
		</div>
	</section>
{% endif %}
{% if view == "card" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}line-group  {{content_mod}}">
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
                <div class="{{content_prefix}}line-item  {{content_mod}}"></div>
            </div>
			<div class="{{content_prefix}}inner  is--page-index">
				<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
					<div>
						<h1 class="{{card_prefix}}heading  {{card_mod}}">{{heading}}</h1>	
						<p class="{{card_prefix}}position  {{card_mod}}">{{position}}</p>
					</div>
					<div>
						<picture class="{{card_prefix}}preview  {{card_mod}}">
							<img src="{{img}}" class="img-responsive" alt="{{heading}}">
						</picture>
					</div>
					<div>	
						<div class="{{card_prefix}}note  {{card_mod}}">{{note}}</div>
						
						{# <p class="{{card_prefix}}btn  {{card_mod}}">
							{% include "../common/button/btn.twig" with {
								view:"link",
								prefix:"link__", 
								mod:"is--pdf", 
								icon:'icon-pdf', 
								attr: '',
								link:'', 
								name:"Скачать PDF" 
							} %}
						</p>

						{% if desc %}
							{% for d in desc %}
								<div class="{{card_prefix}}desc  panel  text__block">
									<h6>
										<a data-toggle="collapse" href="#{{d.id}}" aria-expanded="false">{{d.heading}}</a>
									</h6>
									{% if d.ul %}
									<div id="{{d.id}}" class="collapse">
										<div class="row">
											{% for ul in d.ul %}
											<div class="cols">
												<ul>
													{% for li in ul.li %}
													<li>{{li.name}}</li>
													{% endfor %}
												</ul>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>	
							{% endfor %}
						{% endif %}	 #}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}