<header class="{{prefix}}block  {{mod}}" >
	<div class="{{prefix}}header">
		<div class="{{prefix}}header-container container">
			<div class="{{prefix}}header-row row">
				<div class="{{prefix}}header-cols cols  is--logotip">
					<a href="{{page.index}}" class="{{prefix}}header-logotip">
						{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
					</a>
				</div>
				<div class="{{prefix}}header-cols cols  is--hamburger">
					<button class="{{prefix}}header-hamburger" data-hamburger data-scrollto-humb>
						<span class="{{prefix}}header-hamburger-inner">
							<span class="{{prefix}}header-hamburger-line  is--left"></span>
							<span class="{{prefix}}header-hamburger-line  is--center"></span>
							<span class="{{prefix}}header-hamburger-line  is--right"></span>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="{{prefix}}aside">
		<div class="{{prefix}}aside-inner">
			<div class="container">
				<div class="{{prefix}}aside-row row">
					<div class="{{prefix}}aside-cols cols  is--logotip">
						<a href="{{page.index}}" class="{{prefix}}header-logotip">
							<span {{logo_aos}}>
								{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
							</span>
						</a>
					</div>
					<div class="{{prefix}}aside-cols cols  is--nav" {{nav_aos}}>
						<ul class="{{prefix}}aside-nav"  >
							{% for n in nav %}
							<li class="{{prefix}}aside-nav-item">
								<a href="{{n.link}}" class="{{prefix}}aside-nav-link  {{n.active}}">{{n.name}}</a>
							</li>
							{% endfor %}
						</ul> 	
					</div>
					{% if lang %}
					<div class="{{prefix}}aside-cols cols  is--lang" {{lang_aos}}>
						<ul class="{{prefix}}aside-lang">
							{% for l in lang %}
							<li class="{{prefix}}aside-lang-item">
								<a href="{{l.link}}" class="{{prefix}}aside-lang-link  {{l.active}}">{{l.name}}</a>
							</li>
							{% endfor %}
						</ul> 	
					</div>					
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</header>